<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PrizmAutomation">
    <test name="Salesforce Tests">
        <classes>
            <class name="org.finspectra.tests.SalesforceTest"/>
            <class name="org.finspectra.tests.CreateAccountContactTest"/>
            <class name="org.finspectra.tests.NewApplicationFlowTest"/>
        </classes>
    </test>
</suite>
